* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0 solid black;
}
body {
	position: relative;
}
div.glowny {
	top: calc(50vh - 200px); /* poprawic */
	left: calc(50vw - 200px); /* poprawic */
	position: absolute;
border: 1px solid black;
height:602px;
width:402px;

}

img{
	position: relative;
	border: 1px solid pink;

}

.a,.b,.c,.d{

}
